.UpdateProfile__wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 80%;
  margin: 50px auto;
}

.ant-form {
  width: initial;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.steps-action {
  margin: 24px;
}